 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
   scroll-behavior: smooth;
   scroll-padding-top: 2rem;
   font-family: sans-serif;
 }

 section {
   padding: 50px 10%;
 }


 body {
   background: #fff;
   color: #0f0c27;
 }
 .heading {
   text-align: center;
 }

 .heading h2 {
   font-size: 30px;
 }

 .heading span {
   font-size: 0.941rem;
   color: rgb(2, 166, 70);
 }

 header {
   position: fixed;
   width: 100%;
   top: 0;
   right: 0;
   z-index: 100;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   background: #033a80;
   padding: 13px 10%;
   transition: 0.2s;
   box-shadow: -3px -3px 7px #ffffff73,
     2px 2px 5px rgba(94, 104, 121, 0.288);
 }

 header.shadow {
   box-shadow: 0 0 4px rgb(14 55 54 / 15%);
 }

 .logo {
   font-size: 1.61rem;
   font-weight: 600;
   color: #fff;
 }

 .logo span {
   font-size: 1.61rem;
   font-weight: 600;
   color: crimson;
 }

 .navbar {
   display: flex;
 }

 .navbar a {
   font-size: 1rem;
   padding: 10px 20px;
   color: #fff;
   font-weight: 500;
 }

 .navbar a:hover {
   color: #fff;
   font-size: 1.5rem;
 }
 .home {
  width: 100%;
   position: relative;
   margin-top: 2rem;
   width: 100%;
   /* min-height: 100vh; */
   align-items: center;
 }
 .home-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}
  .home-img{
    order: 1;
  }
 .home-img img {
   width: 80%;
   height: 50vh;
   margin-left: 4rem;
   border-radius: 0.5rem;
 }

 .home-text span {
   font-size: 1.8rem;
   font-weight: 500;
 }

 .home-text h1 {
   font-size: 3.2rem;
 }

 .home-text h2 {
   font-size: 1.1rem;
   font-weight: 400;
 }

 .home-text p {
   font-size: 0.941rem;
   font-weight: 400;
   margin: 0.7rem 0 1rem;
 }

 .about-container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 1rem;
   margin-top: 2rem;
 }

 .about-img img {
   width: 80%;
   height: 50vh;
   border-radius: 0.5rem;
 }

 .about-text p {
   font-size: 0.941rem;
   font-weight: 400;
   text-align: justify;
 }

 .information {
   margin: 1rem 0 1.4rem;
 }

 .information .info-box {
   display: flex;
   align-items: center;
   margin-bottom: 1.4rem;
 }

 .information .info-box .bx {
   font-size: 22px;
 }

 .information .info-box span {
   font-weight: 400;
   margin-left: 1rem;
 }

 .skills-container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
   gap: 2rem;
   margin-top: 4rem;
 }

 .skills-img img {
   width: 80%;
   height: 50vh;
   border-radius: 0.5rem;
   padding-left: 4rem;
 }

 .bars-box {
  width: 100%;
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 0;
   margin-bottom: 1rem;
 }

 .bars-box h3,
 span {
   font-size: 1.1rem;
   font-weight: 500;
 }

 .light-bar {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 0.5rem;
   background: hsla(260, 100%, 44%, 0.4);
   border-radius: 0.5rem;
 }

 .percent-bar {
   position: absolute;
   bottom: 0;
   left: 0;
   height: 0.5rem;
   background: #033a80;
   border-radius: 0.5rem;
 }

 .html-bar {
   width: 80%;
 }

 .css-bar {
   width: 60%;
 }

 .py-bar {
   width: 40%;
 }

 .ja-bar {
   width: 60%;
 }

 .project-content {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, auto));
   justify-content: center;
   gap: 1rem;
   margin-top: 2rem;
 } 

 .project-box {
   padding: 20px;
   width: 100%;
   display: flex;
   flex-direction: column;
   flex-flow: wrap row;
   align-items: center;
   text-align: center;
   border-radius: 0.5rem;
   border-bottom: 2px solid #033a80;
   box-shadow: 0 2px 7px rgb(14 55 54 / 15%);
 }
 .project-image img{
  width: 100%;
 }

 .project-box h3 {
   font-size: 1.7rem;
   font-weight: 600;
   margin: 0.7rem 0 0.4rem;
 }

 /* .project-box:hover h3 {
   color: #fff;
 } */

 .project-box a {
   color: #033a80;
   font-size: 0.941rem;
   font-weight: 500;
 }

 .project-box:hover a {
   cursor: pointer;
 }

 .contact-form {
   display: grid;
   place-items: center;
   margin-top: 2rem;
 }

 .contact-form form {
   display: flex;
   flex-direction: column;
   width: 650px;
 }

 form input,
 textarea {
   padding: 15px;
   border-radius: 0.5rem;
   width: 100%;
   border: none;
   outline: none;
   background: hsla(260, 100%, 44%, 0.1);
   margin-bottom: 1rem;
   color: #0f0c27;
 }

 form input::placeholder,
 textarea::placeholder {
   color: #0f0c27;
 }

 form textarea {
   resize: none;
   height: 200px;
 }

 .contact-button {
   width: 160px;
   cursor:pointer;
   background: #2768d9;
   color: #fff;
   justify-content: center;
   text-transform: uppercase;
   margin-left: 35%;
 }

 .contact-button:hover {
   background: hsl(260, 100%, 51%);
 }

 .footer {
   display: grid;
   place-items: center;
   padding: 20px;
   color: #000;
 }

 .footer h2 {
   font-size: 1.5rem;
   margin-bottom: 1.6rem;
   color: #0f0c27;
 }
 .footer-social a  img{
  width: 100px;
  height: 70px;
  border-radius: 30px;
 }

 .copyright {
  width: 100%;
   padding: 20px;
   background: #033a80;
   text-align: center;
   color: #fff;
 }
